* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
  font-family: sans-serif;
  color: white;
}
body {
  background-color: #2C2f33;
}

.banner-p {
  width: 100%;
  background-color: #23272a;
}

span {
  font-size: 300%;
  margin-right: 25%;
}

.nav-links {
  list-style-type: none;
  display: inline;
  margin-left: 25%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#works-p {

}

.work-header {
  display: flex;
  justify-content: center;
}

.works-c {
  display: flex;
  justify-content: space-evenly;
}

#contactme-p {
  display: flex;
  justify-content: center;

}

.contactme-header h2 {
  display: flex
  justify-content: center;
}

.cmlinks {
  display: inline;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
}