* {
  box-sizing: border-box;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
  color: white;
}
html body {
  background-color: #2C2f33;
  padding: 0;
}

/* main colors

#23272a banners

#2C2f33 background

*/


header {
  background-color: #23272a;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center ;
}

header section {
  background-color: c#23272a;
  width: 200px;
  text-align: left;
  
  display: flex;
  justify-content: flex-end;
  /* outline:solid red;  */
}

header img.mypfp {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 50%;
}

header section h1 {
  padding-top: 30px;
  font-size: 40px;
}

header nav.banner-p {
  justify-content: flex-end;
}

header nav ul {
  margin: 0;
  padding-right: 100px;
  list-style-type: none;
  font-size: 100%;
}

header nav ul li {
  display: inline;
 
}

/*BREAK*/

main section {
  padding-top: 20px;
  padding-bottom: 20px;
}


section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 12px;
}

section div.section-title {
  width: 25% 26%;
  border-right: 4px solid #23272a;
  text-align: right;
  padding-right: 10px;
}

section figure .works-c  {
  display: flex;
  flex-wrap: wrap;
}

section figure a .work-links {
  width: 75%;
  height: 75%;
}

section h2 {
  width: 100px;
}

.contactme-p {
  border-top: 4px solid #23272a;
  outline: solid red;
}

.contactme-p ul {
  display: flex;
  align-items: center;
}

section p {
  display: flex;
  flex-direction: column;

}