* {
  box-sizing: border-box;
  font-size: 16px;
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  font-family: sans-serif;
  color: white;
}
html body {
  background-color: #2C2f33;
  padding: 0;
}

/* main colors

#23272a banners

#2C2f33 background

*/

header {
  background-color: #23272a;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section.logo-area {
  align-items: flex-start;
}

header img.mypfp {
  width: 120px;
  height: 120px;
  background-size: cover;
  border-radius: 50%;
}

header section {
  background-color: c#23272a;
  width: 300px;
  text-align: right;
  padding-right: 15px;
  display: inline;
}

header section h1 {
  font-size: 40px;
}

header nav.banner-p {
  justify-content: flex-end;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

header nav ul li {
  display: inline;
}

/*BREAK*/

section {
  width: 70%;
  margin: 0 auto;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: stretch;
  margin-bottom: 12px;
}

section div.section-title {
  width: 25%;
  border-right: 4px solid #23272a;
  text-align: right;
  padding-right: 10px;
}

section figure .works-c  {
  display: flex;
  flex-wrap: wrap;
}

section figure a .work-links {
  width: 75%;
  height: 75%;
}
